@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@200;300&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@200;300&family=Red+Hat+Display&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Montserrat:wght@500&family=Oswald:wght@200;300&family=Red+Hat+Display&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Oswald:wght@200;300&family=Red+Hat+Display&family=Roboto+Mono:wght@300&display=swap');
@font-face {
  font-family: 'Rubik';
  src: local("Rubik"),
    url('../font/Rubik/static/Rubik-Light.ttf') format("opentype");
}


*{
  box-sizing: border-box;
  font-family: 'Rubik';
}

:root{
  --orange:#FFA868;
  --black:#1d2028;
  --green:#7a7154;
  --grey:#d4cdc1;
  --pink:#f2c6b2;
  --button:#ab6263;
  --header:#f7dcbf;
  --hover:#e38a77;
}

h1 {
  font-family: 'Red Hat Display', sans-serif;
  color: #ab6263;
}

h2{
  font-family: 'Red Hat Display', sans-serif;
  color: #ab6263;
}

h3{
  font-family: 'Red Hat Display', sans-serif;
}

body{
  width: 100%;
  min-height: 100vh;
  padding:0;
  margin:0;
  background-color:#FFFAF0;
  position: relative;
}
/* ==============================*/
/*            Message            */
/* ==============================*/

.successM, .warningM, .errorM {
  border: 1px solid;
  margin:5px 0;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative; 
  opacity: 1; 
  transition: opacity 0.5s ease-in-out; 
}
.successM {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warningM {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.errorM{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}

/* ==============================*/
/*            header             */
/* ==============================*/

header{
  background-color:var(--header);
  display:flex;
  justify-content: space-between;
  padding:1rem;
  color: var(--button)	
}

a {
  font-family: 'Lato', sans-serif;
  font-weight:500;
  font-size: 1.2rem;
}

.logo img{
margin-left: 10%;
}

.navigation{
  width: 900px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation ul{
  display:flex;
  justify-content: center;
  gap:4rem;
  margin:0;
  padding:0;
  font-size: 1rem;
  list-style-type: none;
}


.navigation a{
  text-decoration: none;
  color:var(--button);
}
.navigation a:hover{
  text-decoration: underline;
  color:var(--hover) ;
}

.dropdown_1{
  position:relative;
  display: inline-block;
  cursor: pointer;

}

.dropdown_1:hover .dropdown_content_1 {
  display: block;
  color: var(--hover);
}



.dropdown_content_1{
  display:none;
  background-color:var(--header);
  position:absolute;
  width: 180px;
  height: 220px;
  line-height: 40px;
  padding: 7px;
  z-index: 1;
  
}


.dropdown_content_1 a:hover{
  text-decoration: underline;
  color:var(--hover);
}



.all_icon{
  display: flex;
  margin-right: 2%;

}

/* ==============================*/
/*    header - search bar        */
/* ==============================*/

div.search {
  padding: 30px 30px;

}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.input2, .searchBtn {
  border: none;
  outline: none;
}

.input2 {
  width: 100%;
  height: 42px;
  padding-left: 13px;
  padding-right:46px;
}

.searchBtn {
  height: 42px;
  width: 42px;
  cursor: pointer;
  position: absolute;


}

.search_icon{
  font-size: 2rem;
}


.bar7 form {
  height: 42px;
}
.bar7 .input2 {
  width: 250px;
  border-radius: 42px;
  border: 2px solid #ab6263;
  background: var(--header);
  transition: .3s linear;
  float: right;
}
.bar7 .input2:focus {
  width: 300px;
}
.bar7 .searchBtn {
  background: none;
  right: 0;
}
.bar7 .searchBtn:before{
  /* content: "\f002"; */
  font-family: FontAwesome;
  color: var(--button);
}

.search_icon{
  color: #ab6263;
  align-items: center;
  font-size: 1.2rem;
  
}

/* ==============================*/
/*   header - Shopping cart      */
/* ==============================*/

.cart_icon{
  font-size: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--button);
  padding: 10px;
  position: relative;
}

.point{
  width: 15px;
  height: 15px;
  background-color: var(--hover);
  border-radius: 50%;
  position:absolute ;
  top:30px;
  right: 10px; 
  /* display: none; */
}

.quantity{
  font-size: 10px;
  color: white;
  position: absolute;
  top:-8px;
  right: 5px;
}



.cart_icon{
  font-size: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--button);
  padding: 10px;
  position: relative;
}

.login_icon{
  font-size: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--button);
  padding: 10px;
  position: relative;
}


.content_wrap{
  height: 300px;
}

/* ==============================*/
/*           Footer              */
/* ==============================*/

footer{
  display:flex;
  justify-content: space-between;
  background-color:var(--header);
  clear: both;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom:0;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.contact_info{
  display: block;
  color: var(--button);
  padding-top: 2rem;
}

.contact_info h3{
  font-size: 1.7rem;
}

.contact_info p{
  margin-top: 10px;
}


.Social_Media_icon{
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.icon{
  color: var(--button);
      font-size: 2rem;
  }

  .NewsletterC {
    margin: 2rem;
  }
  
  .NewsletterC > h3 {
    font-size: 1.7rem;
    color: var(--button);
  }
  
  .NewsletterF {
    display: flex;
    align-items: center;
    justify-content: space-between;
  

  }
  
  .inputContainer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 1rem;
    padding: 0 1.5rem;
    outline: none;
    background: none;
    margin-right: 10px;
  }
  
  .label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    padding: 0 4px;
    color: var(--button);
    background-color: var(--header);
    font-size: 16px;
    transition: 0.5s;
    pointer-events: none;
  }
  
  ::placeholder {
    color: transparent;
  }
  
  .submitBtn {
    padding: 12.5px 20px;
    border: none;
    background-color: var(--button);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitBtn:hover {
    background-color: var(--hover);
    transform: translateY(-2px);
  }
  
  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    top: -3px;
    left: 10px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: var(--button);
  }
  
  .input:focus {
    border: 2px solid var(--button);
  }
  
.logo2 img{
  margin-left: 15%;
  margin-top: 10%;
  }

 
	.menu {
		/* display: flex;
		flex-direction: row; */
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		 display: none;
	  }
	  
	  .menu > li > a {
		margin: 0 1rem;
		overflow: hidden;
		color: #ab6263;
		text-decoration: none;
		transform: scale(1, 1);
	  }

	  .menu > li > a:hover{
		color: #FFFAF0;
		transform: scale(1.1, 1.1);
	  }
	  
	  .menu-button-container {
		margin-top: 50px;
		display: none;
		height: 100%;
		width: 30px;
		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	  }
	  
	  #menu-toggle {
		display: none;
	  }
	  
	  .menu-button,
	  .menu-button::before,
	  .menu-button::after {
		display: block;
		background-color:var(--hover);
		position: absolute;
		height: 4px;
		width: 30px;
		transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
		border-radius: 2px;
	  }
	  
	  .menu-button::before {
		content: '';
		margin-top: -8px;
	  }
	  
	  .menu-button::after {
		content: '';
		margin-top: 8px;
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button::before {
		margin-top: 0px;
		transform: rotate(405deg);
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button {
		background: rgba(255, 255, 255, 0);
	  }
	  
	  #menu-toggle:checked + .menu-button-container .menu-button::after {
		margin-top: 0px;
		transform: rotate(-405deg);
	  }

	.active{
		animation: open 1.5s 1 ease-in-out;
	}

	
	
	@keyframes open {
		0% {
			opacity: 0.2;
			transform: translateY(200px);
		}
	}
	

	  
	@media (max-width: 1240px) {

		.navigation{
			display: none;
		}

		.all_icon{
			display: none;
		}
		.menu-button-container {
		  display: flex;
		}
		.menu {
			display: block;
		  position: absolute;
		  top: 80px;
		  margin-top: 50px;
		  left: 0;
		  flex-direction: column;
		  width: 100%;
		  justify-content: center;
		  align-items: center;
		  color:black;
      background-color:var(--header);
		  z-index: 3;
		}
		#menu-toggle ~ .menu li {
		  height: 0;
		  margin: 0;
		  padding: 0;
		  border: 0;
		  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		#menu-toggle:checked ~ .menu li {
		  /* border: 1px solid var(--hover); */
		  height: 2.5em;
		  padding: 0.5em;
		  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		.menu > li {
		  display: flex;
		  justify-content: center;
		  margin: 0;
		  padding: 0.5em 0;
		  width: 100%;
		  color: white;
		  background-color: var(--header);
		}
		.menu > li:not(:last-child) {
		  border-bottom: 1px solid var(--button);
		}

footer{
  zoom:90%;
}
}

@media (max-width:780px){
  footer{
    width: 100%;
    justify-content: center;
    align-items: center;
    zoom: 50%;

  }

  .contact_info{

    display: none;
    
  }
}

@media all and(min-width: 3600px) {
	*{
		zoom:150%;
	}
	
}



	



